{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">Anki</span>
    {% if request.user.is_authenticated %}

  {% endif %}
  <span class="user">
    {% if request.user.is_authenticated %}
      Hello {{ request.user.first_name }},
      <a href="{% url 'account:logout' %}">Logout</a>
    {% else %}
      <a href="{% url "account:login" %}">Log-in</a>
    {% endif %}
  </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
