{% extends "flashcards/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card h-100 shadow mt-2">
        <div class="card-header align-items-center">Login
        </div>
        <div class="card-body align-items-center">
            {% if form.errors %}
                <p>
                    Your username and password didn't match.
                    Please try again.
                </p>
            {% else %}
                <p>Please, use the following form to log-in.</p>
            {% endif %}
            <div class="login-form">
                <form action="{% url 'account:login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <p><input type="submit" value="Login"></p>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
