{% extends "flashcards/base.html" %}
{% load static %}
{% load flashcards_tags %}
{% block title %}Search {% if  searchvalue %}For {{ searchvalue }}{% endif %}{% endblock %}
{% block head %}
    <style>
        .link {
            text-decoration: none;
        }

        #red {
            color: red;
        }

        #id_query {
            margin-top: 2%;
        }
    </style>
{% endblock %}
{% block Search %}active{% endblock %}

{% block content %}
    <div class="card h-100 shadow mt-2">
        <div class="card-header align-items-center">
            Query in database
        </div>
        <div class="card-body">
            <div>
                <form class="align-items-center" method="get">
                    {{ form.as_p }}
                    {% csrf_token %}
                </form>
            </div>
            <ol class="list-group list-group-numbered">
                {% if not no_result %}
                    {% for card in cards %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a class='link'
                                                        href="{% url 'flashcards:card_detail' card_id=card.id %}">{{ card.group }}
                                    - {{ card.question|pureword |safe }}</a>
                                    <span class="badge rounded-pill bg-danger"
                                          onClick="location.href='{% url 'flashcards:word_delete' card.id %}'">Delete</span>
                                </div>
                                {{ card.example |safe }}
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">No Results</div>
                        </div>
                    </li>
                {% endif %}
            </ol>
        </div>
    </div>

{% endblock %}

{% block script %}
    var query_text = document.getElementsByTagName("label");
    var p = document.getElementsByTagName("p");
    query_text[0].remove()
    var input = document.getElementById('id_query');
    //设定为bootstrap的样式
    input.setAttribute('class','form-control');
    //input.setAttribute('id','searchInput');
    input.setAttribute('placeholder','word');
    p[0].setAttribute('class','form-floating');
    p[0].insertAdjacentHTML('beforeend', '<label for="id_query">Enter queryword here.</label>');
{% endblock %}